@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap');
$size_loginbox_w :60vh;
$size_loginbox_h :40%;
$size_signup_w :57vh;
$size_signup_h :70%;

$radious-box:30px;

$back_color_dark : rgba(88, 88, 88, 0.73);
$shadow-box: 0 15px 24px 5px rgba(0,0.5,0.8,0.2), 0 8px 20px -2px rgba(14, 14, 14, 0.38), 0 6px 10px -6px rgba(10, 10, 10, 0.45);
$color_border :#bdbdbd;

$font_ibm_regular : 'IBM Plex Sans Condensed', sans-serif;
$font_ibm_light : 'IBM Plex Sans KR', sans-serif;
$font_kurale :'Kurale', serif;
$font_knewave :'Knewave', cursive;

@mixin flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin container-sign{
  width: 100vw;
  height: 100vh;
  background-color:$back_color_dark;
  @include flex-column;
}

// 로그인 css
.sign-container{
  @include container-sign;
  &:after{
    align-self: center;
  }
  .login-title{
    text-decoration: none;
    h1{
      color: #0e0b3e;
      font-family: $font_knewave;
      font-size: 3em;
    }
  }
  .sign-wrap{
    display: flex;
    width: $size_loginbox_w;
    height: $size_loginbox_h;
    border-radius: $radious-box;
    border: $color_border solid 2px;
    background-color: #f3f0f0;
    @include flex-column;
    align-items: center;
    justify-content: start;
    box-shadow: $shadow-box;
  }
  .login_form{
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    justify-content: start;
    input{
      flex-shrink: initial;
      padding: 10px;
      width: 20em;
      margin-top: 10px;
    }
    .sign-box{
      display: flex;
      flex-direction: row;
      justify-content: end;
      list-style: none;
      .sign{
        background-color: transparent;
        color: black;
        border: none;
        text-decoration: none;
        margin-right: 10px;
        font-size: 14px;
        cursor: pointer;
      }
      .submit:hover{
        text-decoration: underline;
      }
      .sign-up:hover{
        text-decoration: underline;
      }
    }
  }
}
// 회원가입 css
.signup-container{
  @include container-sign;
  a{
    text-decoration: none;
  }
  a > h1{
    color: #0e0b3e;
    font-family: $font_ibm_regular;
    font-size: 2.5em;
  }

  .signup-wrap{
    display: flex;
    width: $size_signup_w;
    height: $size_signup_h;
    border-radius:$radious-box;
    border: $color_border solid 2px;
    background-color: #f3f0f0;
    @include flex-column;
    padding: 0;
    justify-content: start;
    box-shadow: $shadow-box;
  }
  .signup-form{
    height: 20vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: start;
    &:before{
        width: 100vw;
      }
    .sign-info{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 10px;
      .signup-item{
        width: 25%;
        margin-right: 30px;
      }
      input{
        flex-shrink: initial;
        padding: 10px;
        border:$color_border solid 1px;
        width: 80%;
      }

    }
    .submit{
        position: relative;
        top: 13px;
        padding: 7px;
        background-color: white;
        cursor: pointer;
        margin-top: 3vh;
      }
    .profile-img{
      label{
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 3px;
        min-width: 5em;

        color: #6a6a6a;
        vertical-align: middle;
        background-color: #ffffff;
        cursor: pointer;
        border: 1px solid #575757;
        text-align: center;
        border-radius: 5px;
        margin-right: 1em;
      }
      input[type="file"] {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0,0,0,0);
          cursor: pointer;
          border: 0;
      }
    }
  }
}



