body{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 200px;
    align-content: center;
    text-align: left;
    margin-bottom: 20px;
}

.input-text{
    font-weight: bold;
    font-size: 15px;
    color: rgb(68, 70, 95);
}

input{
    width: 400px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgba(238, 240, 248, 0.493);
}

input:hover{
    background-color: #fff;
}

.signup-btn{
    width: 200px;
    cursor: pointer;
    height: 30px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(226, 229, 250);
    border-radius: 20px;
    text-decoration-line: none;
    padding-top: 5px;
    text-align: center;
    border: 1px solid rgb(226, 224, 247);
    background-color: rgba(33, 43, 133, 0.459);
}
.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin-bottom: 20px;
}