{% load sass_tags %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <!-- css -->
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.scss' %}?after">
    <title>Moview</title>
</head>
<body class="is-preload">
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% include 'nav.html' %}
{% block content %}
{% endblock %}

<!-- Scripts -->
{#<script src="/static/js/jquery.min.js"></script>#}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>