{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?after">
    <title>Moview-main</title>
</head>
<body class="is-preload">
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% include 'nav.html' %}
{% block content %}
{% endblock %}

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/browser.min.js"></script>
<script src="/static/js/breakpoints.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>