<nav>
<!-- Header -->
    <div id="wrapper">
        <header id="header">
            <div class="inner">

                <!-- Nav : 로그인, 게시물추가, 검색기능 -->
                    <nav>
                        <ul>
                            <li><a href="{% url 'moview:index' %}">movies </a>  | </li>
                            <li><a href="{% url 'moview:create' %}">add </a>  | </li>
{#                            로그인 되어있는지 검사하기 #}
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'common:logout' %}">logout </a> </li>
                            {% else %}
                                <li><a href="{% url 'common:login' %}">login </a> </li>
                            {% endif %}
                        </ul>
                    </nav>

            </div>
        </header>
    </div>
</nav>