<nav>
<!-- Header -->
    <div id="wrapper">
        <header id="header">
            <div class="inner">

                <!-- Nav : 로그인, 게시물추가, 검색기능 -->
                    <nav>
                        <ul>
                            <li><a href="{% url 'moview:index' %}">movies </a>  | </li>
                            <li><a href="{% url 'moview:create' %}">add </a>  | </li>
                            <li><a href="#">search </a> | </li>
                            <li><a href="{% url 'common:login' %}">login </a> </li>
                        </ul>
                    </nav>

            </div>
        </header>
    </div>
</nav>