{% extends 'base.html' %}
{% load sass_tags %}
{% block content %}
{#    로그인하지 않은 유저가 들어올 시 종료하기 #}
    {% if not user.is_authenticated %}
        {% include 'limit.html' %}
    {% endif %}
    <div class="create-container">
        <section id="create-section">
            <h2 class="add-title">영화를 다시 그리는 시간 .</h2>
    {#        enctype="multipart/form-data" 이거 없으면 이미지 안됨 #}
            <form method="post" class="add_movie" action="{% url 'moview:create'  %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'form_add_errors.html' %}
                <div class="create-box">
                    <div id="line-one">
                        <div class="create-item name" >
                            <input type="text" name="moviename" id="demo-name" value="" placeholder="제목" />
                        </div>
                        <div class="create-item date" >
                            <input type="date"  name="viewdate" id="demo-date" value="" placeholder="영화 본 날짜(20200810)" />
                        </div>
                    </div>
                    <div class="create-item line" style="width: 60em">
                        <input type="text" name="moviewline" id="demo-line" value="" placeholder="영화 속 감명깊던 대사"/>
                    </div>
                    <div id="radio-boxs">
                        <div class="create-item concept">
                            <input type="radio" id="concept-fan" name="category" value="판타지" checked>
                            <label for=concept-fan">판타지</label>
                        </div>
                        <div class="create-item concept">
                            <input type="radio" id="concept-romans" value="로맨스" name="category">
                            <label for="concept-romans">로맨스</label>
                        </div>
                        <div class="create-item concept">
                            <input type="radio" id="concept-act" value="액션" name="category">
                            <label for="concept-act">액션</label>
                        </div>
                        <div class="create-item concept">
                            <input type="radio" id="concept-hore" value="스릴러" name="category">
                            <label for="concept-hore">스릴러</label>
                        </div>
                        <div class="create-item concept">
                            <input type="radio" id="concept-hilling" value="힐링" name="category">
                            <label for="concept-hilling">힐링</label>
                        </div>
                        <div class="create-item concept">
                            <input type="radio" id="concept-other" value="기타" name="category">
                            <label for="concept-other">기타</label>
                        </div>
                    </div>
                    <div class="create-item texts" >
                        <textarea name="story" id="demo-message" placeholder="당신의 영화 일기를 이곳에 기록으로 남기세요.(마크다운 가능)" rows="5" ></textarea>
                    </div>
                    <div class="submit-box">
                        <ul class="actions">
                            <li>
                                <div class="upload_img filebox" style="align-self: stretch; margin-left: 10px">
                                    <label for="demo-img">업로드</label>
                                    <input type="file" name="moviewimg" id="demo-img" class="upload-hidden" value="" placeholder="영화 속 장면" />
                                </div></li>
                            <li><input type="submit" value="기록하기" class="primary" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}