{% extends 'base.html' %}
{% load sass_tags %}
{% load moview_filter %}
{% block content %}
    <div class="detail-container" style="margin-top: 7%">
        <header id="detail-header">
            <span class="moview-img" >
                {% if moview.moviewimg %}
                    <img src="{{ moview.moviewimg.url }}" alt="" />
                {% else %}
                    <img src="/static/images/pic13.jpg" alt=""  />
                {% endif %}
            </span>
            <div id="detail-article" class="movie-infos">
                    <ul class="movie-info-list">
                       <li class="info name">제목 : {{ moview.moviename }}</li>
                       <li class="info line">한줄 : {{ moview.moviewline }}</li>
                       <li class="info concept">장르 : {{ moview.category }}</li>
                       <li class="info date">날짜 : {{ moview.viewdate }}</li>
                        <a href="{% url 'moview:userinfo' moview.author.username  %}" style="z-index:1000; text-decoration: underline; color: #384f97; cursor: pointer;"><li class="info writer">작성자 :  {{ moview.author.username }} </li></a>
                    </ul>
            </div>
        </header>
        {% if is_user %}
            <div class="buttons" >
                <button class="detail-btn del" onclick="is_delete()">삭제하기</button>
                <button><a class="detail-btn edit" href="{% url 'moview:update' moview.id %}">수정하기 </a></button>
            </div>
        {% endif %}
        <hr id="detail-line"/>
        <div class="movie-story">
            <p>{{ moview.story|mark }}</p>
        </div>
    </div>

{#    삭제 묻기 #}
    <script>
    function is_delete(){
        if(confirm("해당 영화일기를 삭제하시겠습니까?")){
            location.href = "{% url 'moview:delete' moview.id %}";
        }
    }
    </script>

{% endblock %}

