{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
    <div class="wrap_detail" style="margin-top:-100px;display: flex; justify-content: center; flex-direction: column; padding-left: 5em; padding-right: 5em">
        <header id="header" >
            <div class="inner" >

                <!-- Logo -->
                    <a href="index.html" class="logo">
                        <span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">Moview</span>
                    </a>

            </div>
        </header>

    <!-- Main -->
        <div id="main">
            <div class="inner" >
                <h1 style="margin-bottom: 20px">{{ moview.moviename }}</h1>
                <h5 style="padding-left: 10px">'{{ moview.moviewline }}'</h5>
                {% if moview.moviewimg %}
                    <span class="image main detailsize" ><img src="{{ moview.moviewimg.url }}" alt="" style="height: 300px; object-fit: cover"/></span>
                {% else %}
                    <span class="image main detailsize"><img src="/static/images/pic13.jpg" alt="" style="height: 300px; object-fit: cover" /></span>
                {% endif %}
{#              날짜 출력 #}
                <p style="align-self: flex-end; text-align: end; margin-right: 20px; margin-top: -40px">{{ moview.viewdate }}</p>
{#                내용 출력 #}
                {% for line in lines %}
                <p>{{ line }}</p>
                {% endfor %}
{#              업로드유저, 카테고리 출력#}
                <pre style="margin-right: 2em">작성자 : {{ moview.uploaduser }}  |  영화장르 : {{ moview.category }}</pre>
            </div>
            {% if is_user %}
                <div class="buttons" style="display: flex; justify-content: flex-end;">
                    <button style="margin-right: 2em"><a href="{% url 'moview:delete' moview.id %}">삭제하기 </a></button>
                    <button><a href="{% url 'moview:update' moview.id %}">수정하기 </a></button>
                </div>
            {% endif %}

        </div>
    </div>
    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
            </div>
        </footer>
{% endblock %}