{% extends 'base.html' %}
{% load sass_tags %}
{% block content %}
    <!-- Main -->
    <div class="main-container">
        <div class="inner">
            <div class="search">
                <form action="{% url 'moview:index' %}" class="searchForm">
                    <input type="text" name="kw" class="search_input kw" value="{{ kw|default_if_none:'' }}" placeholder="search movies"/>
                    <button type="submit"><img src="/static/images/search.png" width="25" /></button>
                </form>
            </div>
            <hr class="main-line">
            <section class="movies">
                {% include 'movielist.html' %}
            </section>
        </div>
    </div>


{% endblock %}