{% extends base.html %}
{% block content %}
<!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                    <a href="index.html" class="logo">
                        <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
                    </a>

                <!-- Nav : 로그인, 게시물추가, 검색기능 -->
                    <nav>
                        <ul>
                            <li><a href="#menu">movies </a>  | </li>
                            <li><a href="#menu">add </a>  | </li>
                            <li><a href="#menu">search </a> | </li>
                            <li><a href="#menu">login </a> </li>
                        </ul>
                    </nav>

            </div>
        </header>
{% endblock %}