{% extends 'base.html' %}
{% load sass_tags %}
{% block content %}
{#<div class="video-box" style=" height: 100%; margin: 0 auto; position: absolute;">#}
{#    <video autoplay loop muted class="start-container" style="margin:0;position: absolute; top: 0; left: 0; z-index: -10">#}
{#        <source src="/static/video/opening.mp4" type="video/mp4" style="width: 100%">#}
{#    </video>#}
{#</div>#}
<div class="start-container">
    <div class="splash">
        <img src="/static/images/camera.png" class="start_camera" alt="카메라"/>
        <div class="start_texts">
            <h1 class="title">영화를 새롭게 그리는 시간</h1>
            <hr class="start-text-line" align="left">
            <h3 class="message">영화를 본 기록과 추억을 Moview에서 남기세요.</h3>
        </div>
        <div class="start-btns">
            <a href="{% url 'moview:index' %}" id="btn-a"><button class="btn view">View</button></a>
            <a href="{% url 'moview:create' %}" id="btn-a"><button class="btn create">Create</button></a>
        </div>
    </div>
</div>
<div class="random-box">
    <p class="random-text">랜덤으로 영화일기를 추천합니다. ->&#9;&#9;&#9;&#9;.</p>
    <a href="{% url 'moview:choose' %}" class="random-a"><img src="/static/images/play.png" class="random-img"/></a>
</div>
{% endblock %}